absl-py
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
aiosqlite
alembic
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arize-phoenix
arize-phoenix-client
arize-phoenix-evals
arize-phoenix-otel
arrow
asttokens
astunparse
async-lru
attrs
Authlib
babel
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
comm
cryptography
debugpy
decorator
defusedxml
Deprecated
distro
dnspython
duckduckgo_search
email_validator
executing
fastapi
fastjsonschema
filelock
flatbuffers
fqdn
frozenlist
fsspec
gast
geopandas
google-pasta
googleapis-common-protos
graphql-core
graphviz
greenlet
grpc-interceptor
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
importlib_metadata
inquirerpy
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
keras
libclang
litellm
lxml
Mako
Markdown
markdown-it-py
markdownify
MarkupSafe
matplotlib-inline
mdurl
mistune
ml-dtypes
mpmath
multidict
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
openai
openinference-instrumentation
openinference-instrumentation-smolagents
openinference-semantic-conventions
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pexpect
pfzy
pillow
pip
platformdirs
plotly
primp
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydot
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
Send2Trash
setuptools
shapely
six
smolagents
sniffio
soupsieve
SQLAlchemy
sqlean.py
stack-data
starlette
strawberry-graphql
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
typing-inspection
tzdata
uri-template
urllib3
uvicorn
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
yarl
zipp
